$cta-red: #A63A50;
$cta-blue: #43607C;
$cta-yellow: #FDAD6D;
$cta-red-hover: #D83455;
$cta-red-text: #8E4A4E;
$pink-hover: #FFE1E1;
$pink-bg: #FFF2F2;
$cta-blue-text: #84A6C2;
$blue-bg-border: #DCEBF8;
$blue-hover: #BEDBF2;
$blue-border: #C8E6FF;
$blue-bg: #F5FAFF;
$cta-yellow-text: #5E2D07;
$yellow-hover: #FE8A01;
$cta-yellow-border: #FFE2CA;
$yellow-bg: #FFE2CA;
$placeholder: #C2C2C2;
$border: #DFDFDF;
$grey-bg: #F9F9F9;
$black: #011936