.article-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 280px;
    max-height: 343px;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(67, 96, 124, 0.3);

    img {
        border-radius: 5px;
    }

    .describe-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 0px 16px 16px 16px;
    }
}