.baker_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 286px;
    height: fit-content;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px rgba(67, 96, 124, 0.25);

    .describe-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;

            .fio-block {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;
            }
        
            .baker_card_info {
                text-align: start;
            }
        
            .tags {
                display: flex;
                gap: 5px;
            }
    }


    &.aside {
        flex-direction: row;
        width: 475px;

        .describe-block {
            align-items: start;
            
            .fio-block {
                align-items: start;
                justify-content: center;
            }
            
                .baker_card_info {
                    text-align: start;
                }
            
                .tags {
                    display: flex;
                    gap: 5px;
                }
        }
    }
}