@import './../../colors.scss';

.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    gap: 1em;
    line-height: 19.2px;
    cursor: pointer;
    height: 40px;

    * {
        transition: all 0.2s;
    }

    img {
        width: 24px;
        height: 24px;
    }

    &.orange {
        padding: 10px 30px;
        border-radius: 0 5px 5px 0;
        background-color: $cta-yellow;
        color: $cta-yellow-text;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.6px;

        &:hover {
            background-color: $yellow-hover;
        }
    }

    &.orange_border {
        padding: 10px 20px;
        background-color: $cta-yellow;
        color: $cta-yellow-text;
        font-size: 16px;
        font-weight: 400;

        &:hover {
            background-color: $yellow-hover;
        }
    }

    &.blue {
        font-size: 14px;
        font-weight: 700;
        line-height: 21.6px;
        background-color: $cta-blue;
        color: #fff;

        &:hover {
            background-color: $cta-blue-text;
        }
    }

    &.white {
        font-size: 16px;
        font-weight: 400;
        background-color: #fff;
        color: $black;
        height: 39px;

        &:hover {
            background-color: $blue-bg-border;
        }
    }

    &.transparent {
        font-size: 16px;
        font-weight: 400;
        background-color: transparent;

        &.white_transparent {
            border: 1px solid #FFF;
            color: #fff;
            font-weight: 700;

            &:hover {
                color: $cta-blue-text;
            }
        }

        &.blue_transparent {
            border: 1px solid $cta-blue-text;
            color: $cta-blue;

            &:hover {
                color: $black;
            }
        }

        &.red_transparent {
            border: 2px solid $cta-red;
            color: $cta-red;

            &:hover {
                background-color: $pink-bg;
            }
        }
    }

    &.delete {
        font-size: 16px;
        font-weight: 400;
        background-color: #fff;

        &.blue_delete {
            border: 2px solid $blue-bg-border;
            color: $cta-blue;
        }

        &.red_delete {
            border: 2px solid $blue-bg-border;
            color: $cta-red-text;
        }
    }

    &.pink {
        background-color: $pink-bg;
        color: $cta-red;
        font-size: 16px;
        font-weight: 700;

        &:hover {
            background-color: $pink-hover;
        }
    }

    &.pink_light {
        background-color: #fff;
        color: $cta-red;
        font-size: 16px;
        font-weight: 700;

        &:hover {
            background-color: $pink-hover;
        }
    }

    &.red {
        background-color: $cta-red;
        color: #fff;
        font-size: 16px;
        font-weight: 400;

        &:hover {
            background-color: $cta-red-hover;
        }
    }

    &.blue_light {
        background-color: $blue-bg-border;
        color: $cta-blue;
        font-size: 14px;
        font-weight: 400;

        &:hover {
            background-color: $blue-hover;
        }
    }

    &.pink_country {
        background-color: $pink-bg;
        color: $cta-red-text;
        font-size: 16px;
        font-weight: 700;

        &:hover {
            background-color: $pink-hover;
        }
    }

    &.pink_brth {
        background-color: $pink-bg;
        color: $cta-red-text;
        font-size: 16px;
        font-weight: 400;

        &:hover {


            &::after {
                background-color: #fff;
                background-color: $pink-hover;
            }

            &::before {
                background-color: $cta-red;
                color: #fff;
                font-weight: 700;
            }


        }
    }

    &.pink_like {
        background-color: $pink-bg;
        color: $cta-red;
        font-size: 16px;
        font-weight: 400;

        &:hover {
            background-color: $pink-hover;
        }
    }


}